{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% block content %}
<style>
    button {
        background-color: transparent;
        border: 1px solid black;
        height: 50px;
        font-size: 20px;
        width: 100%;
        color: #000;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-weight: bold;
        border-radius: 30px;
        width: 150px;
        margin-top: 50px;
        transition: 0.4s;
    }

    input {
        width: 80%;
        margin: 8px 0;
        padding: 12px 20px;
        border-radius: 10px;
        display: inline-block;
        border: 1px solid green;
        box-sizing: border-box;
    }

    button:hover {
        background-color: #212f3c;
        color: #fff;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: none;
        font-weight: bold;
        margin-top: 50px;
        border-radius: 30px;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .topleft {
        position: relative;
        top: 8px;
        left: 10px;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-style: bold;
        font-size: 60px;
    }

    .box {
        border-radius: 8px;
        width: 40%;
        padding: 40px;
        margin-top: 60px;
        background-color: #ffffff;
    }

    .effect1 {
        -webkit-box-shadow: 20px 20px 8px -8px #1c2833;
        -moz-box-shadow: 20px 20px 8px -8px #1c2833;
        box-shadow: 20px 20px 8px -8px #1c2833;
    }
</style>
<div class="topleft">Login</div>

<center>
    <div class="box effect1">
        <form action="#" method="POST">
            <img alt=""
                src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" height="160" width="200" />
            <br><br>
            <p><input type="text" name="nm" placeholder="Enter Username" /></p>
            <button type="submit" name="submit">
                <h3>Login</h3>
            </button>

        </form>
    </div>

</center>


{%endblock%}